<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Book Flyer Designer</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'flyer/css/styles.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">BookFlyer</a>
    </nav>
    <div class="container mt-3">{% block content %}{% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
